<div class="datosAdmin">
    <i class="fas fa-user"></i>
    <div>
<h2>Perfil de Administrador</h2>
    <div class="datos">
        <p>Nombre: Jonathan</p>
        <p>Apellido Paterno: mendez</p>
        <p>Apellido Materno: norbet</p>
        <p>Celular: +57912321321</p>
        <p>Correo: jona5@hotmail.com.ar</p>
        <p>DNI: 32443567</p>
    </div>

    <div>
        <div></div>
        <p>Usuario: Jonathan345</p>
    </div>

</div>

</div>