<div class="modalidadRecojoUsuario">
    <div>
      <h2>Trámite - Modalidad recojo</h2>
    <div>
        <form action="" method="post" enctype="multipart/form-data" class="subirDocumentos">
            <label for="">* Foto: <input type="file" name="image"></label>
            <label for="">* Firma: <input type="file" name="image"></label>
            <label for="">* Huella: <input type="file" name="image"></label>
            <label for="">* N. Comprobante: <input type="text" name="comprobante"></label>
            <input type="hidden" name="recojo" value="subirDocumentos">
            <input type="submit" value="Registrar tramite">
        </form>

        <p class="mensajeSubirDocumentos">

        </p>
    </div>  
    </div>
</div>